<div class="container pt-4">
  <h1>Usando PIPES</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ nombre }} </td>
        <td> uppercase </td>
        <td> {{ nombre | uppercase }} </td>
        <td> Convierte todo el texto a mayuscula</td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> lowercase </td>
        <td> {{ nombre | lowercase }} </td>
        <td>Convierte todo el texto a minuscula</td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:3 </td>
        <td> {{ nombre | slice:3 }} </td>
        <td>Muestra los caracteres <strong>apartir</strong> del 3 caracter del texto</td>
      </tr>
      <tr>
        <td> {{ numeros }} </td>
        <td> slice:2:6 </td>
        <td> {{ numeros | slice:2:6 }} </td>
        <td>Muestra los caracteres del texto <strong>despues</strong> la posicion 2 hasta la 6</td>
      </tr>
      <tr>
        <td> {{ arreglo }} </td>
        <td> slice:4:8 </td>
        <td> {{ numeros | slice:4:8 }} </td>
        <td>Muestra los caracteres del arreglo <strong>despues</strong> la posicion 4 hasta la 8</td>
      </tr>
    </tbody>
  </table>



  <hr>
  <h3>Slice <small>realizando un ngFor a la variable arreglo con <strong>slice:5:20</strong> </small> </h3>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20"> {{ item }} </li>
  </ul>

</div>
